<div class="row">
  <div class="col-md-12">
    <h2>{{pageTitle}}</h2>
    <p>The Golf Tracker application allows golfers to track their scores as they play golf.</p>
    <h3>Directions</h3>
    <ol>
      <li><b>Golf Clubs</b> - first enter the golf clubs, courses and tees.</li>
      <li><b>Manage Golfers</b> - then enter a golfer</li>
      <li><b>Add Round</b> - and finally add a round of golf for the golfer</li>
    </ol>
    <h3>The Architecture</h3>
    <ul>
      <li><b>UI</b> - light-weight Angular 4 framework</li>
      <li><b>Data</b> - the application is flexible to handle different data stores. The Angular services point to RESTful endpoints
        for data. Currently it is setup to use either Azure DocumentDB or SQL Azure.</li>
    </ul>
    <h4>System Requirements</h4>
    <ul>
      <li>NodeJs and NPM</li>
      <li>Visual Studio 2015 or later</li>
      <li>.Net Core 1.1</li>
      <li>Azure DocumentDB</li>
      <li>SQL Azure</li>
    </ul>
  </div>
</div>