<pre><code>
{{ '{' }}
    "name":"King Wilder",
    "handicap":0.9,
    "isPlus":true,
    "rounds":
        [
            {{ '{' }}
                "score":72,
                "netScore":73,
                "datePlayed":"2017-03-18T00:00:00",
                "dateEpoch":1489795200,
                "golfCourse":
                {{ '{' }}
                    "golfClubName":"PGA West",
                    "golfCourseName":"Nicklaus Tournament",
                    "teePlayed":
                    {{ '{' }}
                        "teeName":"Champ",
                        "gender":"Mens",
                        "length":7392,
                        "slope":141,
                        "rating":75.3,
                        "par":72
                    {{ '}' }}               
                {{ '}' }}            
            {{ '}' }},
            {{ '{' }}
                "score":69,
                "netScore":70,
                "datePlayed":"2017-03-09T00:00:00",
                "dateEpoch":1489017600,
                "golfCourse":
                {{ '{' }}
                    "golfClubName":"Wilder National",
                    "golfCourseName":"Oak Briar",
                    "teePlayed":
                    {{ '{' }}
                        "teeName":"Black",
                        "gender":"Mens",
                        "length":7339,
                        "slope":139,
                        "rating":73.7,
                        "par":72
                    {{ '}' }}               
                {{ '}' }}           
            {{ '}' }}        
        ],
    "userName":"Kinger",
    "id":"b2fc4a2f-75f1-4fc4-b54a-a1b9b9ead6cf",
    "docType":"golfer"
{{ '}' }}  
</code></pre>
