.button-block {
    margin-top: 10px;
}

.golfer-block {
    border: 1px solid #dedede;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 10px;
}

.golfer-block h3 {
    margin: 0;
}

.golfer-block h3 a {
    float: right;
    width: auto;
}

.golfer-block h3 a span.badge {
    font-size: 0.8em;
}

.sm {
    font-size: 12px;
    position: relative;
    top: -2px;
}

gt-portal > gt-golfers > div > div > button {
    width: 100%;
}

@media (min-width: 768px) {
    table.table tbody td {
        font-size: 1.1em;
    }

    
    gt-portal > gt-golfers > div > div > button {
        width: auto;
    }

}
