.sandbagger {
    font-size: 1em;
    /*font-weight: bold;*/
    color: red;
    margin-left: 10px;
}
table.table tbody td {
    font-size: 1.5em;
}

table.table tbody td a {
    cursor: pointer;
}

.score-div {
    font-size: 1.4em;
}

.score-div span.score {
    font-weight: bold;
    color: green;
}

.score-div span.underpar {
    font-weight: bold;
    color: red;
}

button {
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
}

button span.player-name {
    font-size: 2em;
    float: left;
    width: 80%;
}

button span.handicap {
    font-size: 1.5em;
}
