<div class="panel panel-primary" *ngIf="isVisible">
  <div class="panel-heading">
    <h3 class="panel-title">View Rounds for {{ golfer.name }}</h3>
    <span class="glyphicon glyphicon-remove-sign panel-close-button" (click)="closeRoundsPanel()"></span>
  </div>
  <div class="panel-body">
    <div class="round-block" *ngFor="let r of golfer.rounds; let idx = index">
      <p>{{ r.datePlayed | date }}</p>
      <h3>{{ r.golfCourse.golfClubName }} - {{ r.golfCourse.golfCourseName }}</h3>
      <span class="glyphicon glyphicon-remove" (click)="deleteRound(idx)" title="Delete Round"></span>
      <div>
        {{ r.golfCourse.teePlayed.gender }} {{ r.golfCourse.teePlayed.teeName }} Tee - Par: {{ r.golfCourse.teePlayed.par }} - {{
        r.golfCourse.teePlayed.length }} yards - Slope/Rating: {{ r.golfCourse.teePlayed.slope }}/{{ r.golfCourse.teePlayed.rating
        }}
      </div>
      <div class="score-block">
        Score: {{ r.score }} - Net: {{ r.netScore }}
      </div>
    </div>

  </div>
</div>