<nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: #e7e7e7;">
  <a class="navbar-brand" href="#">{{ title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
      <li class="nav-item dropdown" routerLinkActive="active">
        <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Drop down</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

        </div>
      </li>
    </ul>
  </div>
</nav>
