<div>
    <nav class='navbar navbar-default' style="margin-bottom: 0">
        <div class='container-fluid'>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class='navbar-brand'>{{ pageTitle }}</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class='nav navbar-nav'>
                    <li data-toggle="collapse" data-target=".navbar-collapse.in"><a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
                    <li data-toggle="collapse" data-target=".navbar-collapse.in"><a [routerLink]="['/golfclubs']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Golf Clubs</a></li>
                    <li data-toggle="collapse" data-target=".navbar-collapse.in"><a [routerLink]="['/golfers']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Golfers</a></li>
                    <li data-toggle="collapse" data-target=".navbar-collapse.in"><a [routerLink]="['/schema']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Schema</a></li>
                    <!-- 
                    This is another example of how to use the routerLink directive. 
                    As long as there are no parameters, the link can be done this way.
                -->
                    <li data-toggle="collapse" data-target=".navbar-collapse.in"><a routerLink="/portal" routerLinkActive="active">Portal</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class='container'>
        <router-outlet></router-outlet>
    </div>
</div>